<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portifólio</title>
    <link rel="stylesheet" href="/src/css/index.css" />
  </head>
  <body>
    <nav id="headerbar">
      <div id="bartop-mid">
        <a id="nome">
          <span>
            <img id="iconmenor" src="/src/images/menos-do-que-o-simbolo.png" />
            <span>Luann</span>
            <span>Eliseu</span>
            <span>.dev</span>
            <img id="iconmaior" src="/src/images/maior-que-o-simbolo.png" />
          </span>
        </a>
        <nav id="navitens">
          <span>Início</span>
          <span>Sobre</span>
          <span>Skills</span>
          <span>Projetos</span>
          <span>Contato</span>
        </nav>
      </div>
    </nav>
  </body>
</html>
