<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portifólio</title>
    <link rel="stylesheet" href="/src/css/index.css" />
  </head>
  <body>
    <div id="absoluto-inicio">
      <nav id="headerbar">
        <div id="bartop-mid">
          <a id="nome">
            <span id="equilibrarnome">
              <img id="iconfoto" src="/src/images/rosto40x40.jpg" />
              <img
                id="iconmenor"
                src="/src/images/menos-do-que-o-simbolo.png"
              />
              <span id="nomeluann">Luann</span>
              <span id="nomeeliseu">Eliseu</span>
              <span id="nomedev">.dev</span>
              <span id="nomedev" style="padding-top: 0vw; padding-left: 0.2vw">
                /
              </span>
              <img id="iconmaior" src="/src/images/maior-que-o-simbolo.png" />
            </span>
          </a>
          <nav id="navitens">
            <button onclick="scrollTo('#absoluto-inicio')">Início</button>
            <span>Sobre</span>
            <span>Skills</span>
            <span>Projetos</span>
            <span>Contato</span>
          </nav>
        </div>
      </nav>
      <div id="cointainer-apresentacao">AAA</div>
    </div>
    <div id="absoluto-sobremim">
      <div id="cointainer-sobre"><div>asdsa</div></div>
    </div>

    <script src="/src/scripts/script.js"></script>
  </body>
</html>
